{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}You have already used these details for an NHS login{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block content %}

<div class="first-item">
    <h1>You have already used these details for an NHS login</h1>

    <p>You have already used the 3 registration details from your GP surgery to prove who you are for a different NHS login.</p>

    <p>You can only use your registration details for 1 NHS login.</p>

    <a href="patient-online-linkage-key{{ params }}" class="button">Log in</a>

    <p class="small">Reference: CID7004</p>

</div>

{% endblock %}
