{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}

{% set params = "?serviceName=" + serviceName + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Online GP systems</legend></h1>
        
       <p>Choose from the list below</p>
        
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1" style="padding-top:3px">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="patient-online-gp-systems-help-pa{{ params }}">
              <div class="results__details results__details--nearby" style="margin-top: 0;">
                <h3 class="results__name">
                <a href="https://systmonline.tpp-uk.com/Login?PracticeId=B86050">Patient Access</a>
                <br />
                <img src="/images/system-patient-access.png" alt="Patient Access" height="60">
                </h3>
                <br />
                <hr />
              </div>
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2" style="padding-top:3px">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="patient-online-gp-systems-help-so{{ params }}">
            <div class="results__details results__details--nearby" style="margin-top: 0;">
                <h3 class="results__name">
                <a href="https://systmonline.tpp-uk.com/Login?PracticeId=B86050">SystmOnline</a>
                <br />
                <img src="/images/system-systmonline.png" alt="SystmOnline" height="60">
                </h3>
                <br />
                <hr />
            </div>
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-3" style="padding-top:3px">
            <input id="radio-inline-3" type="radio" name="radio-inline-group" value="patient-online-gp-systems-help-ev{{ params }}">
            <div class="results__details results__details--nearby" style="margin-top: 0;">
                <h3 class="results__name">
                <a href="https://systmonline.tpp-uk.com/Login?PracticeId=B86050">Evergreen</a>
                <br />
                <img src="/images/system-evergreen.png" alt="Evergreeen" height="60">
                </h3>
                <br />
            </div>
          </label>
        </div>
    </div>
    
    <div class="form-group">
      <a href="#" class="button" id="continue">Continue</a>
    </div>


  </form>
</div>

{% endblock %}