{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}

{% set params = "?serviceName=" + serviceName + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>You can find your online GP registration details for SystmOnline</legend></h1>
        <p>You will have to contact your GP surgery to find your registration details.</p>


    </div>
    
    <div class="form-group">
      <a href="patient-online-linkage-key{{ params }}" class="button" id="">Continue</a>
    </div>


  </form>
</div>

{% endblock %}