{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h3>Your surgery uses the following systems</h3>
        <h1><legend>Find my GP website/app</legend></h1>
        <p>If your surgery is not here, check the details you entered are correct. You can also search by the name of your GP or surgery.</p>
    </div>
  </form>
</div>

{% endblock %}