{% extends '_layouts/_grids/_grid-1-stacked.html' %}
{% block page_title %}View your medical record {{serviceName}}{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&system=" + system + "&hidehead=" + hidehead %}

{% block content %}
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Do you have the registration details from your GP for online services?</legend></h1>
        <p>You may have received a letter, text or email with online services registration details.</p>

        {% if system === 'tpp' %}
          <img src="/images/linkage-key-letter-tpp.png" height="200" style="border: 1px solid grey">
        {% endif %}

        {% if system === 'emis' %}
          <img src="/images/linkage-key-letter-emis.png" height="200" style="border: 1px solid grey">
        {% endif %}
        
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="/service-access/mvp/service-access-pol-1{{ params }}&poluser=true">
            Yes
          </label>
        </div>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="/service-access/mvp/service-access-account{{ params }}">
            No
          </label>
        </div>
        
      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>
    <!--<p><a href="/service-access/service-access-pol-3{{ params }}">I want to <span style="text-transform: lowercase">{{ serviceName }}</span> another way</a></p>-->
  </form>
</div>






  

{% endblock %}