{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - We need to connect your NHS login to your GP surgery?{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&system=" + system + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&surgery=" + surgery + "&practiceID=" + practiceID %}

{% block content %}

<div class="first-item">

  <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

  <div class="reading-width">
  <h1>We need to connect your NHS login to your GP surgery</h1>

  <p>This is so that you can access your GP surgery's online services.</p>

  <p>Online services let you order repeat prescriptions, and book appointments online.</p>

  <p>If you've already asked to use your GP surgery's online services, they might have given you a letter with your registration details on it.</p>
  </div>

  <div class="panel">
    <div class="panel__content panel__content--half">
      <h3>You'll need</h3>
      <ul class="list--check">
        <li>Linkage Key (could be called a Passphrase)</li>
        <li>O.D.S. Code (could be called an Organisation Code or Practice I.D.)</li>
        <li>Account I.D.</li>
      </ul>
    </div>
    <div class="panel__content panel__content--half">
      <h3>You won't need</h3>
      <ul class="list--cross">
        <li>Username</li>
        <li>Password</li>
      </ul>
    </div>
  </div>

  <form>
    <div class="form-group">

      <fieldset class="">

        <legend>
          <h2 class="" style="padding:0.5em 0; font-size: 28px;">Have you got these details?</h2>
        </legend>


        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="radio-inline-group" value="patient-online-linkage-key{{ params }}&poluser=true">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="radio-inline-group" value="/service-access/v13/service-access-triage-1{{ params }}&poluser=false">
          No - connect another way
        </label>

      </fieldset>
    </div>

    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>

  </form>
</div>

{% endblock %}
