{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Access your hospital results {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
<form>
	<div class="form-group">
		<h3>Access your hospital results</h3>
		<h1><legend>Log in or sign up</legend></h1>

		<a href="patient-access-1" class="button button--patient-access" style="padding: 12px; text-align: left; color: white">
			<img style="width: 50px; float:left;" src="/images/logo-patient-access.png" width="54" height="54" />
  			<div style="width: calc(100% - 66px); float: left; margin-top:0; margin-left: 16px">
			  	<p style="font-size: 16px; line-height: 22px" class="font-xsmall">Continue with</p>
				<h3 style="margin-top: 0;">Patient Access</h3>
			</div>
		</a>

		<a href="systm-one-1" class="button button--systm-one--dark" style="padding: 12px; text-align: left; color: white">
			<img style="width: 50px; float:left;" src="/images/logo-systmone.png" width="54" height="54" />
  			<div style="width: calc(100% - 66px); float: left; margin-top:0; margin-left: 16px">
			  	<p style="font-size: 16px; line-height: 22px" class="font-xsmall">Continue with</p>
				<h3 style="margin-top: 0;">SystmOne</h3>
			</div>
		</a>

		<a href="https://govuk-verify-loa1.herokuapp.com/sign-in?userLOA=1&requestId=leeds-person-held-record" class="button button--verify" style="padding: 12px; text-align: left">
			<img style="width: 50px; float:left;" src="/images/logo-verify.png" width="54" height="54" />
  			<div style="width: calc(100% - 66px); float: left; margin-top:0; margin-left: 16px">
			  	<p style="font-size: 16px; line-height: 22px" class="font-xsmall">Continue with</p>
				<h3 style="margin-top: 0;">GOV.UK Verify</h3>
			</div>
		</a>

		<a href="create-acc" class="button button--email" style="padding: 12px; text-align: left; color: white">
			<img style="width: 50px; float:left;" src="/images/nhs-logotype-white.svg" width="54" height="54" />
  			<div style="width: calc(100% - 66px); float: left; margin-top:0; margin-left: 16px">
			  	<p style="font-size: 16px; line-height: 22px" class="font-xsmall">Sign up with</p>
				<h3 style="margin-top: 0;">Email</h3>
			</div>
		</a>





		<p><a href="/patient-online/gp-systems">Show all</a></p>
		<hr />
		<p>Already have an NHS account? <a href="/patient-online/create-2">Log in</a></p>
	</div>
</form>
</div>

<!--
<div>
	<h3>Continue with NHS</h3>
	<p>Select this option if you:</p>
	<ul>
		<li>have GP Online login details</li>
		<li>already  have an NHS account</li>
		<li>want to create a new NHS account</li>
	</ul>
	<a href="create-2" class="button">Continue with NHS</a>
	<p><img src="/images/logotype-nhs-colour__reverse.png" alt="NHS"></p>
</div>
-->
<!--
<div>
	<h3>Continue with GOV.UK Verify</h3>
	<p>Select this option if you:</p>
	<ul>
		<li>already have a GOV.UK Verify account</li>
	</ul>
	<p>You can also create a new GOV.UK Verify account which will take about 10 minutes. You can access other government services securely wherever you see the GOV.UK Verify logo.</p>
	<a href="http://govuk-verify-loa1.herokuapp.com/intro?requestId=leeds-person-held-record&userLOA=0" class="button">Continue with GOV.UK Verify</a>
	<p><img src="/images/verify.png" alt="GOV UK Verify"></p>
</div>
-->
{% endblock %}