{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access your hospital results {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block topRow %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Access your hospital results',' ') }}
{% endblock %}

{% block content %}

<p>Use this service to:</p>
<ul>
  <li>Get access to your hospital results</li>
  <li>Get access to blood tests</li>
</ul>

<a href="create-1" class="button">Start</a>

{% endblock %}

{% block rightcol %}{% endblock %}