{% extends '_layouts/_grids/_grid-2-1-nhsone.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&poluser=" + poluser + "&system=" + system %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
      <fieldset class="">
        <h1><legend>Enter your online registration details</legend></h1>
        <!--
        <div class="form-group">
          <label class="form-label" for="field2">Account Linkage Key</label>
          <span class="form-label__hint">16 characters long</span>
          <input class="form-control" id="field2" name="field2" type="text">
        </div>
        -->
<!--
        <div class="form-group">
          <label class="form-label" for="field3">ODS Code</label>
          <span class="form-label__hint">1 letter and 6 characters - for example E123456</span>
          <input class="form-control" id="field3" name="field3" type="text">
        </div>
-->
<!--
        <div class="form-group">
          <label class="form-label" for="field1">Account ID</label>
          <span class="form-label__hint">Can be up to 30 characters long</span>
          <input class="form-control" id="field1" name="field1" type="text">
        </div>
-->
        <div class="form-group">
          {% if system === 'tpp' %}
            <label class="form-label" for="field2">Account ID</label>
            <span class="form-label__hint">Can be up to 30 characters long</span>
          {% endif %}

          {% if system === 'emis' %}
            <label class="form-label" for="field2">Account linkage key</label>
            <span class="form-label__hint">16 characters long</span>
          {% endif %}
          
          <input class="form-control" id="field2" name="field2" type="text">
        </div>
        <div class="form-group">
          {% if system === 'tpp' %}
            <label class="form-label" for="field1">Passphrase</label>
            <span class="form-label__hint">16 characters long</span>
          {% endif %}
          
          {% if system === 'emis' %}
            <label class="form-label" for="field1">Account ID</label>
            <span class="form-label__hint">Can be up to 30 characters long</span>
          {% endif %}
          
          <input class="form-control" id="field1" name="field1" type="text">
        </div>
    </div>
    <div class="form-group">
      <a class="button" href="/patient-online/v8/patient-online-about-you-name{{ params }}">Continue</a>
    </div>
    <p><a href="/patient-online/v8/patient-online-british-id{{ params }}&poluser=false">I don't have my registration details</a></p>
  </form>
</div>

{% endblock %}
