{% extends '_layouts/_grids/_grid-2-1-nhsone.html' %}
{% block page_title %}View your medical record {{serviceName}}{% endblock %}

{% set params = "?serviceName=" + serviceName + "&hidehead=" + hidehead %}

{% block content %}
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<div class="first-item">
  <h1>Before you start</h1>

 <!-- <p>what they are doing</p>-->

  <p>In order to use [service] you will need to prove your identity</p>

  <!--<p>We need some details so we know you are you.</p>-->
  <br />
  <h3>You will need one of the following:</h3>
  <ul>
    <!--<li>email address</li>
    <li>phone number</li>-->
    <li>online registration details from your GP</li>
    <li>photo ID</li>
  </ul>

<!--  <h3>What will I need to do?</h3>
  <ul>
    <li>Take a picture of your photo ID</li>
    <li>Take a video of yourself</li>
  </ul>
  -->
  <!--<p>What do I get?</p>-->
  <!--<p>At the end you will be able to use other online services using your secure NHS account.</p>-->

  <br />
  <h3>Why do I need to do this?</h3>
  <p>We need to make sure only you access your information.</p>

  <!--p>who they are doing it for?</p>-->
  <br />
  <h3>How long will this take?</h3>
  <p>It will take 10 minutes to complete the application.</p>
  <!--<p>The application will then be checked which can take up to 24 hours, 48 hours at a weekend.</p>-->



<a href="patient-online-gp-online{{ params }}" class="button">Continue</a>

  </div>
</div>


  </form>
</div>








{% endblock %}
