{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}We need to connect your NHS login to your GP surgery{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&system=" + system + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&surgery=" + surgery + "&practiceID=" + practiceID %}

{% block content %}

<div class="first-item">

  {% if hideBack !== 'true' %}
  <p><a href="javascript:history.go(-1)" class="link-back">You need to prove who you are</a></p>
  {% endif %}

  <div class="reading-width">
    <h1>Use details from your GP surgery to prove who you are</h1>

    <p>If you have signed up for your GP surgery's online services, you might have these registration details:</p>
  </div>

  <ul>
    <li>Linkage Key (could be called a Passphrase)</li>
    <li>O.D.S. Code (could be called an Organisation Code or Practice I.D.)</li>
    <li>Account I.D.</li>
  </ul>

  <div class="reading-width">
    <p>You can use these details to prove who you are.</p>
    <p>If you do not have all 3 details (or you have something different) you can try another way.</p>
  </div>

  <form>
    <div class="form-group">

      <fieldset class="">

        <legend>
          <p class="" style="padding:0.5em 0; font-size: 28px; font-weight: bold;">Do you have all 3 registration details?</p>
        </legend>


        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type="radio" name="radio-inline-group" value="patient-online-linkage-key{{ params }}&poluser=true">
          Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="radio-inline-group" value="/service-access/v17/service-access-triage{{ params }}&poluser=false">
          No - try another way
        </label>

      </fieldset>
    </div>

    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>

  {% if devMode === "true" %}
  <details class="dev-mode" role="group" >
    <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
      <span class="details__summary">Continue with testing scenario</span>
    </summary>
    <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
      <div class="reading-width">
        <ol>
          <li><a href="/service-access/v17/service-access-nhs{{ params }}&poluser=false">Chooses No - Assigned manual workflow</a></li>
          <li><a href="/service-access/v17/service-access-start{{ params }}&poluser=false">Chooses No - Assigned automated workflow</a></li>
          <li><a href="/service-access/v17/service-access-in-progress{{ params }}&poluser=false">Chooses No - User has verification request which is currently in progress</a></li>
          <li><a href="/service-access/v17/service-access-previously-completed{{ params }}&poluser=false">Chooses No - User already completed the PYI process</a></li>
        </ol>
      </div>
    </div>
  </details>
  {% endif %}

</div>

{% endblock %}
