{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Do you have the following 3 registration details for the online services you use?
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    {{ backLink({
      "href": "patient-online-details",
      "text": "Back to: Prove who you are without sending a photo of your I.D."
    }) }}

    <form method="POST" action="pol-choice-2">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Do you have the following 3 registration details for the online services you use?
            </h1>
          </legend>

          <div class="nhsuk-hint">
            <ul>
              <li>Linkage Key (could be called Passphrase)</li>
              <li>O.D.S. Code (could be called Organisation Code or Practice I.D.)</li>
              <li>Account I.D.</li>
            </ul>
            <p>You might have been given these details when you registered.</p>
          </div>
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                Yes - I have all 3 details
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                No - I do not have all 3 details
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-3" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-3">
                I don't know
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>

      <button class="nhsuk-button full-width">Continue</button>

    </form>

	</div>
</div>

{% endblock %}
