{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Prove who you are without sending a photo of your I.D.
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l">This page doesn't exist yet</h1>

    <a href="javascript:history.back()">&laquo; Go back</a>

    <!--
    <h1 class="nhsuk-heading-l">Prove who you are without sending a photo of your I.D.</h1>
    
    <p>We will ask you 1 or 2 questions about other health services you use. We will use this information to tell you how you can prove who you are.</p>

    <form method="POST" action="">

      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h1 class="nhsuk-fieldset__heading">
              Do you use your GP surgery’s online services?
            </h1>
          </legend>

          <div class="nhsuk-hint">Online services include booking appointments, ordering repeat prescriptions and seeing your GP record.</div>
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                Yes - I use online services
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                No - I do not use online services
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                I don't know
              </label>
            </div>
      
          </div>
        </fieldset>
      
      </div>

      <button class="nhsuk-button">Continue</button>

    </form>
  -->

	</div>
</div>

{% endblock %}
