
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
	Send a photo of your I.D.
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    {{ backLink({
      "href": "service-access-photo-id-type",
      "text": "Back to: Choose the photo I.D. you want to use"
    }) }}

    <!-- Routing in routes.js -->
    <form action="choice-id-capture" method="POST">
    
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h2 class="nhsuk-fieldset__heading">
              Choose how to send a photo of your {{ data['idType'] }}
            </h2>
          </legend>
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" type="radio" id="radio-1" name="idHow" value="photo">
              <label class="nhsuk-label nhsuk-radios__label" for="radio-1">
                Take a photo on this device
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" type="radio" id="radio-2" name="idHow" value="upload">
              <label class="nhsuk-label nhsuk-radios__label" for="radio-2">
                Upload a photo
              </label>
            </div>
      
          </div>
        </fieldset>

      </div>

      <div class="form-group">
        <button class="nhsuk-button full-width">Continue</button>
      </div>

    </form>

  </div>
</div>

{% endblock %}