
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Thank you - your information was sent
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-8">

	<section class="instructions nhsuk-u-padding-6">

		<div class="nhsuk-grid-row">
			<div class="nhsuk-grid-column-two-thirds">

				<h1 class="nhsuk-heading-l">Thank you - your information was sent</h1>
				<p>We will email you to tell you if your information passed our checks or not.</p>
				<p>Lots of people are using the service at the moment, so it may take <strong>12 hours</strong> to check your information.</p>
				<div class="nhsuk-warning-callout nhsuk-u-margin-bottom-0">
					<h3 class="nhsuk-warning-callout__label">
						<span role="text">
							<span class="nhsuk-u-visually-hidden">Important: </span>
							Coronavirus (COVID-19)
						</span>
					</h3>
					<p>For health information and advice, read <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">NHS guidance about coronavirus</a>.</p>
				</div>

			</div>
		</div>

	</section>

  </div>
</div>

{% endblock %}