
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
	Send a photo of your I.D.
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="service-access-photo-id-type">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
          aria-hidden="true">
          <path
            d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
          </path>
        </svg>
        Back to: Choose the photo I.D. you want to use
      </a>
    </div>

    <!-- Routing in routes.js -->
    <form action="choice-id-capture" method="POST">
    
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h2 class="nhsuk-fieldset__heading">
              Choose how to send a photo of your {{ data['idType'] }}
            </h2>
          </legend>
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" type="radio" id="radio-1" name="idHow" value="photo">
              <label class="nhsuk-label nhsuk-radios__label" for="radio-1">
                Take a photo on this device
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" type="radio" id="radio-2" name="idHow" value="upload">
              <label class="nhsuk-label nhsuk-radios__label" for="radio-2">
                Upload a photo
              </label>
            </div>
      
          </div>
        </fieldset>

      </div>

      <div class="form-group">
        <button class="nhsuk-button">Continue</button>
      </div>

    </form>

  </div>
</div>

{% endblock %}