
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Choose the I.D. you want to use
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    {{ backLink({
      "href": "service-access-what-you-need",
      "text": "Back to: How to prove who you are"
    }) }}

    <h1 class="nhsuk-heading-l">
      <span class="nhsuk-hint nhsuk-u-margin-bottom-0">Step 1 of 2</span>
      Send a photo of your I.D.
    </h1>


    <form action="service-access-photo-id-instructions" method="POST">
    
      <div class="nhsuk-form-group">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
            <h2 class="nhsuk-fieldset__heading">
              Choose the I.D. you want to use
            </h2>
          </legend>
      
          <div class="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" type="radio" id="radio-1" name="idType" value="passport">
              <label class="nhsuk-label nhsuk-radios__label" for="radio-1">
                Passport
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" type="radio" id="radio-2" name="idType" value="UK driving licence">
              <label class="nhsuk-label nhsuk-radios__label" for="radio-2">
                UK driving licence (full or provisional)
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" type="radio" id="radio-3" name="idType" value="European driving licence">
              <label class="nhsuk-label nhsuk-radios__label" for="radio-3">
                European driving licence (full)
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" type="radio" id="radio-4" name="idType" value="European national identity card">
              <label class="nhsuk-label nhsuk-radios__label" for="radio-4">
                European national identity card
              </label>
            </div>
      
          </div>
        </fieldset>

      </div>

      <div class="form-group">
        <button class="nhsuk-button full-width">Continue</button>
      </div>

      <p><a href="/registration/patient-online-details">How to prove who you are without sending a photo of your I.D.</a></p>

    </form>

  </div>
</div>

{% endblock %}