
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Enter your full name
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      {{ backLink({
        "href": "service-access-nhs",
        "text": "Back to: Step 3 - Help us match you to your NHS record"
      }) }}

      <form action="service-access-nhs-number-demographics-dob" method="POST">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              Enter your full name
            </h1>
          </legend>
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="name-first">
              First name
            </label>
            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="name-first" name="name-first" type="text">
          </div>
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="name-middle">
              Middle name (if you have one)
            </label>
            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="name-middle" name="name-middle" type="text">
          </div>
        
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="name-last">
              Last name
            </label>
            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="name-last" name="name-last" type="text">
          </div>
        </fieldset>

        <button class="nhsuk-button full-width">Continue</button>

      </form>

  </div>
</div>

{% endblock %}