
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
	You need to prove who you are
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-8">

	<section class="instructions nhsuk-u-padding-6">

		<div class="nhsuk-grid-row">
			<div class="nhsuk-grid-column-two-thirds">

				<h1 class="nhsuk-heading-l">You need to prove who you are</h1>

				<p class="nhsuk-body-l">To access some parts of 'the NHS App' you must first prove who you are.</p>

				<p class="nhsuk-body-l">This helps us keep your information secure.</p>

				<form method="POST" action="service-access-what-you-need">
					<button class="nhsuk-button full-width nhsuk-button--reverse nhsuk-u-margin-bottom-0">Continue</button>
				</form>

			</div>
		</div>

	</section>

  </div>
</div>

{% endblock %}


	