{% extends 'layouts/layout.html' %}

{% block pageTitle %}
	How to prove who you are
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

	<div class="nhsuk-back-link">
		<a class="nhsuk-back-link__link" href="service-access-start">
			<svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
				aria-hidden="true">
				<path
					d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z">
				</path>
			</svg>
			Back to: You need to prove who you are
		</a>
	</div>

	<h1 class="nhsuk-heading-l">How to prove who you are</h1>
	<p>You will need 1 of the following types of photo I.D:</p>
	<ul>
		<li>passport</li>
		<li>UK driving licence (full or provisional)</li>
		<li>European driving licence (full)</li>
		<li>European national identity card</li>
	</ul>
	<p>We will help you send a photo of your I.D. online, to prove who you are.</p>

	<p><a href="/registration/patient-online-details">How to prove who you are without sending a photo of your I.D.</a></p>

	<form method="POST" action="service-access-identity-start-spinner">
		<button class="nhsuk-button">Choose the I.D. you want to use</button>
	</form>

  </div>
</div>

{% endblock %}