{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Please wait
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-width-container">

    <!--<h1 class="nhsuk-heading-l">Checking your details</h1>-->

    <section class="loading-container">
      <div class="bar_container">
        <div class="progress-spinner">
          <img src="/images/loader-spinner.svg" id="spinner" />
          <div class="ppc-loading">
            <div class="pcc-percents-wrapper">
              <span id="spinner-status" class="nhsuk-body">Please wait</span><span aria-hidden="true">...</span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>

{% endblock %}