{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - There's a problem{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">
    <h1>There's a problem</h1>

    <p>You've already used these details from your doctor's surgery to create an NHS App account.</p>

    <a href="patient-online-linkage-key{{ params }}" class="button">Log in to the NHS App</a>

    <p class="small">Error: 0004</p>
</div>

{% endblock %}
