{% extends 'layouts/layout.html' %}

{% block pageTitle %}
There was a problem with your internet connection
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-8">

    <h1 class="nhsuk-heading-l">There was a problem with your internet connection</h1>

    <p>Check your wifi or network settings.</p>

    <p>When you reconnect to the internet, you will need to try again by choosing the I.D. you want to use.</p>

    <form method="POST" action="/registration/service-access-photo-id-type">
      <button type="submit" class="nhsuk-button nhsuk-u-margin-bottom-0">Choose I.D.</button>
    </form>

    <div class="or">
      <span>Or</span>
    </div>

    <ul>
      <li><a href="/registration/service-access-photo-id-upload">Upload a photo of your I.D.</a></li>
      <li><a href="/registration/patient-online-details">Prove who you are without sending a photo of your I.D.</a></li>
    </ul>

  </div>
</div>

{% endblock %}