{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Prove your Identity Service{% endblock %}
{% set params = "?serviceName=" + serviceName + "&service=" + service + "&hidehead=" + hidehead %}

{% block content %}

<meta http-equiv="refresh" content="5;url=../../service-access/service-access-nhsonline-completed{{ params }}">

	<!--<span class="section-header">Connecting to your GP</span>-->
	<h1 style="text-align: center;">Connecting to your GP</h1>

	<div class="grid-row">

		<div class="column-two-thirds">

			<div class="inner-block">
				
				<p style="text-align: center;">This should only take a few seconds</p>
		      
		      	<div class="fullwidth-loading" style="text-align:center;">
		        	<img src="/images/ajax-loader.gif" alt="loading animation" title="" style="opacity: 0.5;" class="ajaxLoader"/>
		      	</div>

			</div>
		</div>

	</div>	


<!--
<h1 style="padding-bottom: 0;">
      Uploading your video
    </h1>

    <div class="bar_container" id="linkage-key-loader" onload="activateLoader(2);">
      <div id="main_container">
        <div id="pbar" class="progress-pie-chart" data-percent="0">
          <div class="ppc-progress">
            <div class="ppc-progress-fill"></div>
          </div>
          <div class="ppc-percents">
            <div class="pcc-percents-wrapper">
              <span>%</span>
            </div>
          </div>
        </div>

        <progress style="display: none" id="progress_bar" value="0" max="100"></progress>
      </div>
    </div>
-->
{% endblock %}


