{% extends '_layouts/_grids/_grid-1-stacked.html' %}
{% block page_title %}View your medical record {{serviceName}}{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&system=" + system + "&hidehead=" + hidehead %}

{% block content %}
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Are you using online services with your GP surgery?</legend></h1>
        <p>These may include booking appointments or ordering repeat prescriptions.</p>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="patient-online-details{{ params }}">
            Yes
          </label>
        </div>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="/service-access/service-access-pol-3{{ params }}">
            No
          </label>
        </div>
        
        
      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>
    <p><a href="/service-access/service-access-pol-3{{ params }}">I want to <span style="text-transform: lowercase">{{ serviceName }}</span> another way</a></p>
  </form>
</div>






  

{% endblock %}