{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}We cannot connect your NHS login to your GP surgery{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&result=" + result + "&reason=" + reason + "&pyiuser=true" + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">
    <h1>We need to connect your NHS login to your GP surgery</h1>

      {% if serviceName === "The NHS app" %}

    <p>This is so you can access <b>'{{ serviceName }}'.</b></p>

    {% else %}

    <p>This is so you can access this service.</p>

    {% endif %}<!-- this needs an else statement which displays 'This is so you can access this service.' -->

    <p>We need to do this again because either:</p>

    <ul>
        <li>your GP surgery has changed their details</li>
        <li>you have registered with a different GP surgery</li>
    </ul>

</div>

  <a class="button" href="service-access-connect-gp-working{{ params }}&result=200">Connect to GP surgery</a>

{% endblock %}
