{% extends 'layouts/layout-cookie-banner.html' %}
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
	Record a short video
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

		<h1 class="nhsuk-heading-l">This page doesn't exist yet</h1>
		<a href="javascript:history.back()">&laquo; Go back</a>

	</div>
</div>

<!--
<div class="first-item"> 

	<div class="reading-width">

		<h1 class="heading-large">Record a short video</h1>

		{% if manual === "true" %}
		<p>On the next page you will see 4 numbers.</p>
		<p>You will need to record a video of your face while you tell us the 4 numbers.</p>

        {% else %}
		<p>We are going to show you 4 numbers on the next page.</p>
		<p>You will need to:
		<ul>
		<li>record a video of your face</li>
		<li>tell us what the four numbers are</li>
		</ul>
		</p>
		{% endif %}




		<form style="margin: 32px 0 16px;">
			<div class="form-group">
				<fieldset>

					<legend>
						<h2 class="h3">How do you want to do this?</h2>
					</legend>

					<div class="selection-button-radio-inline" style="margin-top: 16px;">
						<div class="multiple-choice" data-target="nhs-1">
{# 							<script type="application/javascript">
								if(window.MediaRecorder !== undefined) {
								document.write('<input id="radio-inline-1" type="radio" name="radio-inline-group" value="service-access-video-selfie-say-camera{{ params }}"><label for="radio-inline-1" class="block-label" style="position: static;">Say the numbers</label>');
								} else {
								document.write('<input id="radio-inline-1" type="radio" name="radio-inline-group" value="service-access-video-selfie-say-camera-html5{{ params }}"><label for="radio-inline-1" class="block-label" style="position: static;">Say the numbers</label>');
								}
							</script> #}
							<input id="radio-inline-1" type="radio" name="radio-inline-group" value="service-access-video-selfie-say-camera{{ params }}"><label for="radio-inline-1" class="block-label" style="position: static;">Say the numbers</label>
						</div>
						<div class="multiple-choice" data-target="nhs-2" style="margin-top: 16px; margin-bottom: 0px;">
{# 							<script type="application/javascript">
								if(window.MediaRecorder !== undefined) {
								document.write('<input id="radio-inline-2" type="radio" name="radio-inline-group" value="service-access-video-selfie-sign-camera{{ params }}"><label for="radio-inline-1" class="block-label" style="position: static;">Sign the numbers using British Sign Language</label>');
								} else {
								document.write('<input id="radio-inline-2" type="radio" name="radio-inline-group" value="service-access-video-selfie-sign-camera-html5{{ params }}"><label for="radio-inline-1" class="block-label" style="position: static;">Sign the numbers using British Sign Language</label>');
								}
							</script> #}
							<input id="radio-inline-2" type="radio" name="radio-inline-group" value="service-access-video-selfie-sign-camera{{ params }}"><label for="radio-inline-1" class="block-label" style="position: static;">Sign the numbers using British Sign Language</label>
						</div>
						<div class="multiple-choice" data-target="nhs-3" style="margin-top: 16px; margin-bottom: 0px;">
{# 							<script type="application/javascript">
								if(window.MediaRecorder !== undefined) {
								document.write('<input id="radio-inline-3" type="radio" name="radio-inline-group" value="service-access-video-selfie-write-camera{{ params }}"><label for="radio-inline-1" class="block-label" style="position: static;">Write the numbers down and show them</label>');
								} else {
								document.write('<input id="radio-inline-3" type="radio" name="radio-inline-group" value="service-access-video-selfie-write-camera-html5{{ params }}"><label for="radio-inline-1" class="block-label" style="position: static;">Write the numbers down and show them</label>');
								}
							</script> #}
							<input id="radio-inline-3" type="radio" name="radio-inline-group" value="service-access-video-selfie-write-camera{{ params }}"><label for="radio-inline-1" class="block-label" style="position: static;">Write the numbers down and show them</label>
						</div>
					</div>

				</fieldset>
			</div>

			<div class="form-group">
				<a class="button" href="#" id="continue">Continue</a>
			</div>

		</form>

	</div>

	{% if devMode === "true" %}
	<details class="dev-mode" role="group" >
		<summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
			<span class="details__summary">Continue with testing scenario</span>
		</summary>
		<div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
			<div class="reading-width">

				<p>HTML5</p>
				<ol>
					<li><a href="service-access-video-selfie-say-camera-html5{{ params }}">Say the numbers</a></li>
					<li><a href="service-access-video-selfie-sign-camera-html5{{ params }}">Use my hand to sign the numbers</a></li>
					<li><a href="service-access-video-selfie-write-camera-html5{{ params }}">Write the numbers down and show them</a></li>
				</ol>
			</div>
		</div>
	</details>
	{% endif %}

</div>
-->
{% endblock %}
