{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Sorry - we cannot connect you to your GP surgery{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">
    <h1>There is a problem</h1>

    <p>We cannot give you access to your GP surgery's online services.</p>

    <p>Speak to your GP surgery to check if you are able to use their online services.</p>

    <p>Reference: <b>CID7021</b></p>

        <div class="callout callout--friendly" id="details-content-1" aria-hidden="false">
            <div class="reading-width">
                <p><a href="https://help.login.nhs.uk/mixedsupport#reference-cid7021%3A-permission-to-use-your-gp-surgery%E2%80%99s-online-services">What does reference CID7021 mean?</a></p>
            </div>
        </div>

{#     <p class="small">Reference: CID7021</p> #}
</div>

{% endblock %}
