{% import '_macros/_macro_app.html' as backlink with context %}
{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Checking your face and your I.D.{% endblock %}
{% set params = "?serviceName=" + serviceName + "&service=" + service + "&hidehead=" + hidehead + "&idType=" + idType + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&result=" + result + "&reason=" + reason + "&iproovTokenFailReason=" + iproovTokenFailReason + "&iproovEnrolFailReason=" + iproovEnrolFailReason + "&uplift=" + uplift %}


{% block extrastyles %}

    <meta http-equiv="refresh" content="7;url=service-access-iproov-instructions{{ params }}">

{% endblock %}


{% block content %}

{% if iproovTokenFailReason === '500' %}
<meta http-equiv="refresh" content="2.5;url=service-access-iproov-failure-token{{ params }}}">
{% elif iproovTokenFailReason === '400' %}
<meta http-equiv="refresh" content="2.5;url=service-access-iproov-failure-token{{ params }}">
{% else %}
<meta http-equiv="refresh" content="4;url=service-access-iproov-instructions{{ params }}">
{% endif %}

<h1><legend>&nbsp;</legend></h1>

<!--<p style="">This should only take a few seconds</p>-->

<div class="bar_container">
  <div id="main_container">
    <div id="pbar" class="progress-spinner" data-percent="0">
      <img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" />
      <div class="ppc-loading">
        <div class="pcc-percents-wrapper">
          <span id="spinner-status">Please wait...</span></span>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  setTimeout(function(){
    $("#spinner-status").addClass("done")
    $("#spinner").addClass("done")
    document.getElementById("spinner-status").innerHTML = "Done"

  }, 6000)
</script>

</script>

{% endblock %}

