{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access {{ serviceName }} - Browser error{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">

  <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

  <h1 class="">Browser error</h1>

  <p>Your current browser does not support this feature.</p>

{#   <p class="small">Reference: CID-####</p> #}    
  <p>Reference: <b>CID-####</b></p>

  <p><a href="#">Visit the Help Centre</a> for guidance that will help you fix this problem.</p>

</div>

{% endblock %}