{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Something went wrong{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&hidehead=" + hidehead + "&challenge=" + challenge + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton + "&iproovTokenFailReason=" + iproovTokenFailReason + "&iProovThirdAttempt=" + iProovThirdAttempt + "&pyiSecondAttempt=" + pyiSecondAttempt + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">

  <section class="" id="scan-id-1">

    <h1>Something went wrong</h1>

    <p>This is because ......</p>

      <form style="margin: 32px 0 16px;">
          <div class="form-group">
              <fieldset>

                  <legend>
                      <h2 class="h3">What do you want to do?</h2>
                  </legend>

                  <div class="selection-button-radio-inline" style="margin-top: 32px;">
                      <div class="multiple-choice" data-target="nhs-yes">
                          <input id="radio-inline-1" type="radio" name="radio-inline-group" value="service-access-iproov-test{{ params }}">
                          <label for="radio-inline-1" class="block-label" style="position: static;">Try again</label>
                      </div>
                  </div>
                  <div class="selection-button-radio-inline" style="margin-top: 0px;">
                      <div class="multiple-choice" data-target="nhs-no">
                          <input id="radio-inline-2" type="radio" name="radio-inline-group" value="service-access-video-selfie-camera{{ params }}&hideBack=true">
                          <label for="radio-inline-2"class="block-label" style="position: static;">Record a video instead</label>
                      </div>
                  </div>

              </fieldset>
          </div>

          <div class="form-group">
              <a class="button" href="#" id="continue">Continue</a>
          </div>

      </form>

  </section>

</div>

{% endblock %}