{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}You need to prove who you are{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&mobileNum=" + mobileNum + "&system=" + system + "&hidehead=" + hidehead + "&loggedin=" + loggedin + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">

	<section class="intructions">

		<div class="reading-width">

			<h1 class="heading-large">You need to prove who you are</h1>

			{% if serviceName !== '' %}

			<p>Before you can use your NHS login to access <b>the NHS App<!--{{ serviceName }}--></b>, you need to increase the security level of your NHS login.</p>
			
			<p>This means you will be able to access certain features of the NHS App<!--{{ serviceName }}-->.</p>

			<p>You will need photo I.D. to complete this step.</p>

			{% else %}

			Before you can use this service, you need to prove who you are.

			{% endif %}

			<div class="form-control" style="margin: 32px 0 16px;">
				<a class="button--information" href="service-access-identity-start{{ params }}">Continue</a>
			</div>
		</div>
	</section>


	{% if devMode === "true" %}
	<details class="dev-mode" role="group" >
		<summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
			<span class="details__summary">Continue with testing scenario</span>
		</summary>
		<div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
			<div class="reading-width">
				<ol>
					<li><a href="service-access-photo-id-type{{ params }}&iproov=true&desk=false">Feature detection passed</a></li>
					<li><a href="service-access-photo-id-type{{ params }}&iproov=false&desk=false">Feature detection fail (iProov not supported by platform)</a></li>
					<li><a href="service-access-photo-id-type{{ params }}&iproov=true&desk=true">Feature detection passed but user is on a desktop browser</a></li>
				</ol>
			</div>
		</div>
	</details>
	{% endif %}

</div>

{% endblock %}