{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - We need to check your information to keep your account secure{% endblock %}

{% set signedin = 'true' %}
{% set verified = 'true' %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&hidehead=" + hidehead + "&poluser=" + poluser + "&complete=" + complete + "&uplift=" + uplift %}

{% block content %}

<h1>Please submit your information</h1>

<section class="service-access-wrapper">

	<p>By clicking submit, you agree to send us your personal information, photo and video.</p>
	<p>Your data will be stored securely. Read our <a href="/terms-of-use/v2/privacy-notice{{ params }}">privacy notice</a> to find out what we'll do with your data.</p>

	<a href="service-access-complete{{ params }}&emailLink=v12/email-identity-verified" class="button" id="button--save">Submit information</a>

</section>

<script type="text/javascript">
	submitSpinner()
	function submitSpinner() {
		var selects = document.getElementById('button--save')
		selects.addEventListener('click', function (event) {
			event.preventDefault()
			if (selects.getAttribute('disabled') === 'disabled') {
				console.log('already clicked')
			} else {
				event.preventDefault()
				console.log(selects.getAttribute('disabled'))
				buttonClicked(selects)
			}
		})
	}
	function buttonClicked(target) {
		target.setAttribute('disabled', 'disabled')
		target.className += ' button--save'
		setTimeout(function () {
			window.location.href = target.getAttribute('href')
		}, 2500)
	}
</script>

{% endblock %}