{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access {{ serviceName }} - Going to your GP surgery to prove who you are{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&drop=" + drop + "&manual=" + manual + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">

  <div class="first-item">

    <p><a href="/patient-online/v21/patient-online-details{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> Do you have these registration details?</a></p>

    <h1>Going to your GP surgery to prove who you are</h1>

    <p>When you sign up to use your GP surgery's online services, we know you've proved who you are to someone we trust. We can use the registration details from your GP surgery to check you've done this.</p>

    <form>
      <div class="form-group">
        <fieldset class="">
          <legend for="radio-inline-group">
            <h2 class="" style="padding:0.5em 0 0; font-size: 20px; font-weight: 600; line-height: 32px;">
            Choose one of the following options:
          </h2>
          </legend>

          <div class="selection-button-radio" style="margin-top: 32px;">
            <div class="multiple-choice" data-target="nhs-yes">
              <input id="radio-inline-1" type="radio" name="radio-inline-group" value="service-access-offline-retrieve{{ params }}">
              <label for="radio-inline-1" class="block-label" style="position: static;">I signed up, but I do not have the registration details</label>
            </div>
          </div>
          <div class="selection-button-radio" style="margin-top: 0px;">
            <div class="multiple-choice" data-target="nhs-no">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="service-access-offline-create{{ params }}">
              <label for="radio-inline-2"class="block-label" style="position: static;">I have never signed up for my GP's online services</label>
            </div>
          </div>
          <div class="selection-button-radio" style="margin-top: 0px;">
            <div class="multiple-choice" data-target="nhs-no">
              <input id="radio-inline-3" type="radio" name="radio-inline-group" value="service-access-offline-create{{ params }}">
              <label for="radio-inline-3"class="block-label" style="position: static;">I am not sure if I signed up</label>
            </div>
          </div>


        </fieldset>

      </div>
      <div class="form-group">
        <a class="button" href="#" id="continue">Continue</a>
      </div>



    </form>

</div>

{% endblock %}