{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Sorry - we're having technical problems{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&result=" + result + "&reason=" + reason + "&pyiuser=true" + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">

    <p><a href="service-access-connect-gp{{ params }}" class="link-back">Back</a></p>

    <h1>Sorry - we're having technical problems</h1>

    <p>Please try again later.</p>

    <details class="" role="group">
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
            <span class="details__summary">If you keep getting this message</span>
        </summary>
        <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">

            <h3>Another way to connect your NHS login to your GP surgery</h3>
            <p>Ask your GP surgery for your registration details for GP online services. These are different to your username and password. You will need:</p>
            <ul>
                <li>account ID</li>
                <li>O.D.S. code (sometimes called organisation code or practice ID)</li>
                <li>linkage key (sometimes called passphrase)</li>
            </ul>
            <p>When you have these details, log in again and enter your registration details.</p>

            <a class="button" href="/patient-online/v21/patient-online-linkage-key{{ params }}">Enter your registration details</a>

        </div>
    </details>

    <p class="small">Reference: CID7026</p>

</div>

{% endblock %}
