{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}What you will need{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&system=" + system + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&surgery=" + surgery + "&practiceID=" + practiceID + "&supported=" + supported + "&manual=" + manual + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">

	{% if hideBack !== 'true' %}

	{% if drop === "chooseid" %}
	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
	{% else %}
	<p><a href="service-access-start{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> You need to prove who you are</a></p>
	{% endif %}

	{% endif %}

	<div class="reading-width">
		<h1>How to prove who you are</h1>
		<p>You will need 1 of the following types of photo I.D:</p>
		<ul>
			<li>passport</li>
			<li>UK driving licence (full or provisional)</li>
			<li>European driving licence (full)</li>
			<li>European national identity card</li>
		</ul>
		<p>We will help you send a photo of your I.D. online, to prove who you are.</p>

		<p><a href="/patient-online/v22/patient-online-details{{ params }}&drop=need">How to prove who you are without sending a photo of your I.D.</a></p>
	</div>

	<div class="form-group">
		<a class="button" href="service-access-identity-start-spinner{{ params }}">Choose the I.D. you want to use</a>
	</div>

</div>

{% endblock %}
