{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Take a video selfie{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&formerror=" + formerror + "&hidehead=" + hidehead + "&challenge=" + challenge + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">

  <section class="" id="scan-id-1">

    <p><a href="service-access-video-selfie{{ params }}" class="link-back">Back</a></p>

    <form>
      <fieldset class="">
        <legend for="radio-inline-group">
          <h1 style="padding-bottom: 0;">
            How to record your video
          </h1>
        </legend>

        {% if challenge === "say" %}

        <p>We’ll show you 4 numbers on the next page.</p>
        <p>Make sure you can see your face in the video.</p>
        <!--<p>Start recording.</p>-->

        {% endif %}

        {% if challenge === "hands" %}
        <ol>
          <li>Record your face. Make sure your whole face is in the video.</li>
          <li>Use your hand to show 4 numbers (between 1 and 5). We’ll tell you the numbers on the next page.</li>
        </ol>
        <p>Ask someone to help you record the video if it’s easier.</p>
        <img src="/images/challenge-instructions-hands.png" />

        {% endif %}

        {% if challenge === "write" %}

        <ol>
          <li>Write the 4 numbers clearly on a piece of paper.</li>
          <li>Record your face. Make sure your whole face is in the video.</li>
          <li>Hold the paper up to show the numbers.</li>
        </ol>
        <p>Ask someone to help you record the video if it’s easier.</p>
        <img src="/images/challenge-instructions-write.png" />

        {% endif %}
      
        <div class="form-group">
			    <a class="button" href="service-access-video-selfie-camera{{ params }}">Continue</a>
		    </div>
        
      </fieldset>

    </form>


  </section>

</div>

{% endblock %}