{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Step 2 - Match your face to your photo I.D.{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&hidehead=" + hidehead + "&challenge=" + challenge + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton + "&manual=" + manual + "&uplift=" + uplift %}

{% block content %}

<div class="first-item"> 

	<div class="reading-width">
      
	  {% if uplift !== 'true' %}

		<h1 class="heading-large"><span class="heading-secondary">Step 2 of 3</span> Match your face to your photo I.D.</h1>

			{% else %}

		<h1 class="heading-large"><span class="heading-secondary">Step 2 of 2</span> Match your face to your photo I.D.</h1>


			{% endif %}


		<p>We will use your device’s camera to scan your face and match it to your photo I.D.</p>

		<p>This is so we know it’s you.</p>

		<p>During the scan the screen will flash and change colour.</p>

		<p>If flashing lights or colours make you feel unwell, you can record a short video instead.</p>

		<form style="margin: 32px 0 16px;">
			<div class="form-group">
				<fieldset>

					<legend>
{# 						<h2 class="h3">If flashing lights or colours make you feel unwell, you do not need to do the scan.
							<br><br> What do you want to do?</h2> #}

						<h2 class="h3">What do you want to do?</h2>
					</legend>

					<div class="selection-button-radio-inline">
						<div class="multiple-choice" data-target="nhs-yes" style="margin-top: 16px;">
							<input id="radio-inline-1" type="radio" name="radio-inline-group" value="service-access-iproov-enrolment{{ params }}">
							<label for="radio-inline-1" class="block-label" style="position: static;">Scan my face</label>
						</div>
						<div class="multiple-choice" data-target="nhs-no" style="margin-top: 16px; margin-bottom: 0px;">
							<input id="radio-inline-2" type="radio" name="radio-inline-group" value="service-access-video-selfie-triage{{ params }}&hideBack=true">
							<label for="radio-inline-2"class="block-label" style="position: static;">Record a short video</label>
						</div>
					</div>

				</fieldset>
			</div>

			<div class="form-group">
				<a class="button" href="#" id="continue">Continue</a>
			</div>

		</form>

	</div>

	{% if devMode === "true" %}
	<details class="dev-mode" role="group" >
		<summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
			<span class="details__summary">Continue with testing scenario</span>
		</summary>
		<div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
			<div class="reading-width">

				<p>HTML5</p>
				<ol>
					<li><a href="service-access-video-selfie-triage-html5{{ params }}">Enrolment and scan token success</a></li>
				</ol>

				<p>Enrolment errors</p>
				<ol>
					<li><a href="service-access-iproov-enrolment{{ params }}&iproovEnrolFailReason=500">Enrolment fail - (500 error)</a></li>
					<li><a href="service-access-iproov-enrolment{{ params }}&iproovEnrolFailReason=tps">Enrolment fail - (429 continuous TPS errors)</a></li>
					<li><a href="service-access-iproov-enrolment{{ params }}&iproovEnrolFailReason=face">Enrolment fail - (400 quality issue)</a></li>
					<li><a href="service-access-iproov-enrolment{{ params }}&iproovEnrolFailReason=disallowed">Enrolment fail - (400 error:Disallowed)</a></li>
				</ol>

				<p>Scan token generation errors (possibly not needed)</p>
				<ol>
					<li><a href="service-access-iproov-enrolment{{ params }}&iproovTokenFailReason=400">Scan token generation error</a></li>
				</ol>
			</div>
		</div>
	</details>
	{% endif %}

</div>

{% endblock %}
{% block rightcol %}{% endblock %}