{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - There is a problem{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block content %}

<div class="first-item">
    <h1>There is a problem with your details</h1>

    <p>If you are trying to access NHS app, you need to speak to your GP surgery about using their online services.</p>

    <p>If you are trying to access any other website or app, you can <a href="/service-access/v18/service-access-nhs{{ params }}">prove who you are using photo I.D.</a></p>

    <p class="small">Reference: CID7002</p>

</div>

{% endblock %}
