
{% extends 'layouts/layout.html' %}

{% block pageTitle %}
	Record a short video
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

		<h1 class="nhsuk-heading-l">This page doesn't exist yet</h1>
		<a href="javascript:history.back()">&laquo; Go back</a>

	</div>
</div>

<!--

<div class="first-item">

  {% if hideBack !== 'true' %}

    {% if drop === 'type' %}
      <p><a href="/service-access/v22/service-access-photo-id-type{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> Choose the photo I.D. you want to use</a></p>
    {% else %}
      <p><a href="/service-access/v22/service-access-what-you-need{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> How to prove who you are</a></p>
    {% endif %}

  {% endif %}

  <div class="reading-width">
    <h1>Prove who you are without sending a photo of your I.D.</h1>

    <p>We will ask you 1 or 2 questions about other health services you use. We will use this information to tell you how you can prove who you are.</p>
  </div>

  <form>
    <div class="form-group">

      <fieldset class="">

        <legend for="radio-inline-group">
          <h2 class="" style="padding:0.5em 0 0; font-size: 20px; font-weight: 600; line-height: 32px;">
            Do you use your GP surgery’s online services?
          </h2>
        </legend>

        <div class="reading-width">

        <p>Online services include booking appointments, ordering repeat prescriptions and seeing your GP record.</p>

        </div>
        <label class="block-label selection-button-radio" for="radio-inline-1" style="margin-top: 32px;">
          <input id="radio-inline-1" type="radio" name="radio-inline-group" value="patient-online-details-2{{ params }}&poluser=true">
          Yes - I use online services
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type="radio" name="radio-inline-group" value="/service-access/v22/service-access-offline-create{{ params }}">
          No - I do not use online services
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-3">
          <input id="radio-inline-3" type="radio" name="radio-inline-group" value="/service-access/v22/service-access-offline-dunno{{ params }}">
          I don’t know
        </label>

      </fieldset>
    </div>

    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>

    {% if devMode === "true" %}
  <details class="dev-mode" role="group" >
    <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
      <span class="details__summary">Continue with testing scenario</span>
    </summary>
    <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
      <div class="reading-width">
        <ol>
          <li><a href="/service-access/v21/service-access-nhs{{ params }}&poluser=false">Chooses No - Assigned manual workflow</a></li>
          <li><a href="/service-access/v21/service-access-start{{ params }}&poluser=false">Chooses No - Assigned automated workflow</a></li>
          <li><a href="/service-access/v21/service-access-in-progress{{ params }}&poluser=false">Chooses No - User has verification request which is currently in progress</a></li>
          <li><a href="/service-access/v21/service-access-previously-completed{{ params }}&poluser=false">Chooses No - User already completed the PYI process</a></li>
        </ol>
      </div>
    </div>
  </details>
  {% endif %}

</div>
-->

{% endblock %}
