{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}You need to prove who you are{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&mobileNum=" + mobileNum + "&system=" + system + "&hidehead=" + hidehead + "&loggedin=" + loggedin + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">

	<section class="intructions">

		<div class="reading-width">

			<h1 class="heading-large">You need to prove who you are</h1>

			{% if serviceName !== '' %}

			<p>Before you can use your NHS login to access <b>'{{ serviceName }}'</b>, you need to prove who you are.</p>

			{% else %}

			Before you can use this service, you need to prove who you are.

			{% endif %}

			<p>This helps us keep your information secure.</p>

			<div class="form-control" style="margin: 32px 0 16px;">
				<a class="button--information" href="patient-online-details{{ params }}">Continue</a>
			</div>
		</div>
	</section>
</div>

{% endblock %}
