{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - To access this service we'll need to do the following{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&mobileNum=" + mobileNum + "&system=" + system + "&hidehead=" + hidehead + "&loggedin=" + loggedin %}

{% block content %}

<div class="first-item">

	<section class="intructions">

		<div class="reading-width">

			<h1 class="heading-large">You now have an <abbr>NHS</abbr> login</h1>

			<p>To use {{ serviceName }}, we need to connect your NHS login to your GP surgery.</p>
		
			<p>We'll ask you some questions to find the easiest way for you to do this.</p>

			<div class="form-control" style="margin: 32px 0 16px;">
				<a class="button--information" href="patient-online-details{{ params }}">Continue</a>
			</div>
			<!-- <p>&nbsp;</p>
			<h3>Don't want to do this?</h3>
			<p><a href="service-access-offline{{ params }}" class="instructions--link">You can take your photo ID document to the post office instead.</a></p> -->

		</div>
	</section>
</div>

{% endblock %}
