{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Enter your registration details{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&poluser=" + poluser + "&system=" + system + "&practiceID=" + practiceID %}

{% block content %}

<div class="first-item">

    <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

  <form>
    <div class="form-group">

      <fieldset class="">
          <h1>Enter the details your GP surgery gave you</h1>

          <p>Enter letters and numbers exactly as they are written.</p>

        <div class="form-group">
            <label class="form-label" for="field2">Linkage Key (could be called a Passphrase)</label>
            <input class="form-control" id="field2" name="field2" type="text">
        </div>

        <div class="form-group">
            <label class="form-label" for="field3"><abbr>O.D.S.</abbr> Code (could be called an Organisation Code or Practice I.D.)</label>
          <input class="form-control" id="field3" name="field3" type="text">
        </div>

        <div class="form-group">
            <label class="form-label" for="field1">Account <abbr>I.D.</abbr></label>
            <input class="form-control" id="field1" name="field1" type="text">
        </div>
      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="patient-online-about-you-name{{ params }}&result=200">Continue</a>
        {% if devMode === "true" %}
        <details class="dev-mode" role="group" >
            <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
                <span class="details__summary">Continue with testing scenario</span>
            </summary>
            <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
                <div class="reading-width">
                    <ol>
                        <li><a href="patient-online-about-you-name{{ params }}&result=200">[201] successful operation</a></li>
                        <li><a href="patient-online-about-you-name{{ params }}&result=400">[400] Functional - ODS Code or NHS Number was invalid</a></li>
                        <li><a href="patient-online-about-you-name{{ params }}&result=403">[403] Functional - the linkage key has been revoked</a></li>
                        <li><a href="patient-online-about-you-name{{ params }}&result=404">[404] Functional - patient not found</a></li>
                        <li><a href="patient-online-about-you-name{{ params }}&result=409">[409] Functional - conflict, account already exists</a></li>
                        <li><a href="patient-online-about-you-name{{ params }}&result=500">[500] Technical - An unexpected error occurred processing the request</a></li>
                        <li><a href="patient-online-about-you-name{{ params }}&result=501">[501] Technical - No GP system was found for ODS Code</a></li>
                        <li><a href="patient-online-about-you-name{{ params }}&result=502">[502] Technical - The GP system is currently unavailable</a></li>
                        <li><a href="patient-online-about-you-name{{ params }}&result=504">[504] Technical - The GP system did not respond in a timely fashion</a></li>
                        <li><a href="patient-online-about-you-name{{ params }}&result=slow">The GP system responds very slowly</a></li>
                    </ol>
                </div>
            </div>
        </details>
        {% endif %}
    </div>

      {% if pyiuser === "true" %}

      {% else %}

      <h2 class="h3" style="margin-top: 2em;">What these details are for</h2>

      <p>We can use these details to connect your NHS login to your GP surgery, so that you can access their online services.</p>

      <p>If you've been given these details, we'll know that your surgery has checked who you are. This helps us keep your NHS login secure.</p>

      <div class="callout callout--info">
          <p>If you do not have the details, we can <a href="/service-access/v15/service-access-start{{ params }}&poluser=false&loggedin=true">connect your NHS login to your GP surgery, and check who you are another way.</a></p>
      </div>

      {% endif %}
  </form>
</div>

{% endblock %}
