{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}There is a problem{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block content %}

<div class="first-item">

    <h1>There is a problem</h1>

    <p>Email us so we can check you have been given the correct registration details.</p>

    <p>Email: <a href="mailto:help.nhslogin@nhs.net">help.nhslogin@nhs.net</a></p>

    <p>Include this code in your email: <em style="font-weight: bold;font-style: normal;">CID7100</em></p>

    <p>You might not be able to use your NHS login until we have fixed this problem.</p>

</div>

{% endblock %}
