{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - Do you have the details with you?{{serviceName}}{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&poluser=" + poluser %}

{% block content %}

<div class="first-item">

  <p><a href="patient-online-details.html{{ params }}" class="link-back">Back</a></p>


  <form>
    <div class="form-group">

      <fieldset class="">

        <h1 class="">
          Do you have the details with you?
        </h1>

        <div class="selection-button-radio-inline" style="margin-top: 32px;">
          <div class="multiple-choice" data-target="nhs-yes">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="/patient-online/v11/patient-online-linkage-key{{ params }}">
            <label for="radio-inline-1" class="block-label" style="position: static;">Yes</label>
          </div>
        </div>
        <div class="selection-button-radio-inline" style="margin-top: 32px;">
          <div class="multiple-choice" data-target="nhs-no">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="/service-access/v11/service-access-start{{ params }}&poluser=false">
            <label for="radio-inline-2"class="block-label" style="position: static;">No</label>
          </div>
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>

  </form>
</div>


{% endblock %}
