{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Access your medical record {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h3>Access your medical record</h3>
        <h1><legend>Recover your Evergreen sign in details</legend></h1>
        
        <div class="form-group">
          <label class="form-label" for="field1">Email</label>
          <input class="form-control" id="field1" name="field1" type="text">
        </div>

      </fieldset>

    </div>
    <div class="form-group">
      <a class="button" href="patient-access-1" id="">Continue</a>
    </div>
    </form>
</div>

{% endblock %}