{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Prove your Identity Service{% endblock %}
{% set params = "?serviceName=" + serviceName + "&service=" + service + "&hidehead=" + hidehead %}

{% block content %}

<meta http-equiv="refresh" content="5;url=https://nhsa.herokuapp.com/template.php?page=welcome.php&logged=true&feature=welcome&pageCode=SC02b">

<h1><legend><!--<span class="heading-secondary">Connect to your GP </span>-->Checking your details</legend></h1>

	<!--<p style="">This should only take a few seconds</p>-->

		<div class="bar_container">
			<div id="main_container">
				<div id="pbar" class="progress-spinner" data-percent="0">
					<img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" />
					<div class="ppc-loading">
						<div class="pcc-percents-wrapper">
							<span id="spinner-status">Please wait</span><span aria-hidden="true">...</span>
						</div>
					</div>
				</div>
			</div>
		</div>

<script type="text/javascript">
    setTimeout(function(){
        $("#spinner-status").addClass("done")
        $("#spinner").addClass("done")
        document.getElementById("spinner-status").innerHTML = "Done"

    }, 3900)
</script>

{% endblock %}

