{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Sorry - we cannot connect you to your GP surgery{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block content %}

<div class="first-item">
    <h1>Sorry - we cannot connect you to your GP surgery</h1>

    <p>Your surgery's online services are not available in the NHS app yet.</p>

    <p class="small"></p>Reference: CID7006

</div>

{% endblock %}
