{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Sorry - we're having technical problems{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block content %}

<div class="first-item">
    <h1>Sorry - we're having technical problems</h1>

    <p>Please try again later.</p>

    <!--<a href="patient-online-linkage-key-loading{{ params }}&result=200" class="button">Retry</a>-->

    <p class="small">Reference: CID7008</p>

</div>

{% endblock %}
