{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Sorry - we cannot connect you to your GP surgery{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block content %}

<div class="first-item">
    <h1>Sorry - we cannot connect you to your GP surgery</h1>

    <p>One or more of the details that you entered might be wrong.</p>

    <a href="patient-online-linkage-key{{ params }}" class="button">Try again</a>

    <p class="small">Reference: CID7003</p>

</div>

{% endblock %}
