{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h3>View your hospital record</h3>
        <h1><legend>Did you get a letter when you registered for GP Online?</legend></h1>
        <p>What does the letter look like?</p><mark>todo - add letter and open close</mark>
        <img src="public/images/linkage-key.png" width="100" height="100" />
        <div class="callout callout--info">
          <h3>User ID/Username</h3>
          <p>abcd 1234 efgh 5678</p>
          <h3>ODS Code/ORG ID/Practice ID</h3>
          <p>123456</p>
          <h3>Account Linkage Key/Access Code</h3>
          <p>abcd 1234 efgh 5678 abcd 1234 efgh 5678</p>
        </div>
        <mark>todo - open close</mark>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="gp-signin-linkage-key">
            Yes
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="create-5">
            No
          </label>
        </div>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>
  </form>
</div>

{% endblock %}