{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Create an NHS Account {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">

  <div class="form-group">

    <h1><legend>We have sent you another email</legend></h1>

    <p>We need to validate your email address. Please check your email.</p>
    <p>If you haven't received the email check your spam folder.</p>
    <p><a href="acc-login">You can login to your NHS account here</a>.</p>

  </div>
    
</div>

{% endblock %}
