{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('View your hospital record',' ') }}
{% endblock %}

{% block content %}

<p>Use this service to:</p>
<ul>
  <li>View your hospital record</li>
  <li>View blood tests results</li>
</ul>

<a href="create-1" class="button">Start</a>

{% endblock %}

{% block rightcol %}{% endblock %}