{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if vouch %}
{% set params = "?vouch=" + vouch %}
{% elif service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName %}
{% endif %}

{% block content %}
<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        {% if serviceName %}
        <span class="section-header">{{ serviceName }}</span>
        {% endif %}
        <h1><legend>Recover your SystmOnline login details</legend></h1>
        <div class="form-group">
          <label class="form-label" for="field1">Email</label>
          <input class="form-control" id="field1" name="field1" type="text">
        </div>
      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="systm-one-1{{ params }}" id="">Continue</a>
    </div>
    </form>
</div>

{% endblock %}