{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Your Hospital Record{% endblock %}

{% block body %}

{% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Your hospital record',' ') }}

<h1>Welcome to your hospital record</h1>
<ul>
  <li style="margin-left: 32px"><a href="#">Hospital record</a></li>
  <li style="margin-left: 32px"><a href="#">Blood tests results</a></li>
</ul>

<a href="create-1" class="button">Start</a>

{% endblock %}
{% block rightcol %}{% endblock %}