{% extends '_layouts/_nhsuk_layout.html' %}
{% block page_title %}Offline Vouching Identity Service{{serviceName}}{% endblock %}

{% block body %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
      <h3>Create an NHS Account</h3>
        <h1><legend>Can you sign in using GP Online?</legend></h1>

        <div class="callout callout--info">
          <h3>What is GP Online?</h3>
          <ul>
            <li>Patient Access, Evergreen Life, Patient Knows Best, SystemOnline, Wiggly Amps, Patient Online, DIMEC, iPlato or ECHO</li>
            <li>lets you book GP appointments</li>
            <li>allows you to view your GP record</li>
          </ul>

          <h3>How do I use my GP Online details?</h3>
          <p>You can use the letter from when you register for GP Online, or use your GP Online sign in details</p>
        </div>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="gp-online-4a">
            Yes
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="">
            No
          </label>
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>
  </form>
</div>

{% endblock %}