{% extends '_layouts/_nhsuk_layout.html' %}
{% block page_title %}Offline Vouching Identity Service{{serviceName}}{% endblock %}

{% block body %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
      <h3>Access NHS Online Services</h3>
        <h1><legend>Sign in using your letter details</legend></h1>
        <div class="form-group">
          <label class="form-label" for="field1">User ID/Username</label>
          <input class="form-control" id="field1" name="field1" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="field3">ODS Code/ORG ID/Practice ID</label>
          <input class="form-control" id="field3" name="field3" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="field2">Account Linkage Key/Access Code</label>
          <input class="form-control" id="field2" name="field2" type="text">
        </div>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="">Continue</a>
    </div>
  </form>
</div>

{% endblock %}