{% extends '_layouts/_nhsuk_layout.html' %}
{% block page_title %}Offline Vouching Identity Service{{serviceName}}{% endblock %}

{% block body %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
      <h3>Access NHS Online Services</h3>
        <h1><legend>Sign in using your SystmOne details</legend></h1>
        
        <div class="form-group">
          <label class="form-label" for="field1">Username</label>
          <input class="form-control" id="field1" name="field1" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="field2">Password</label>
          <input class="form-control" id="field2" name="field2" type="text">
        </div>

      </fieldset>

    </div>
    <div class="form-group">
      <a class="button" href="uplift-token" id="continue">Continue</a>
    </div>
    <br />
    <a href="gp-online-4b">I can't remember my SystmOne sign in details</a>
    <!--<a href="" >Forgotten my User ID</a>
    <a href="" >Forgotten my password</a>-->
  </form>
</div>

{% endblock %}