{% extends '_layouts/_nhsuk_layout.html' %}
{% block page_title %}Offline Vouching Identity Service{{serviceName}}{% endblock %}

{% block body %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Access [service]</legend></h1>
        <h3>Do you have a valid passport, photocard driving licence or identity card?</h3>
        <h4>We accept identity documents from any country.</h4>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="uplift-device-check">
            Yes, I have it with me now
          </label>
        </div>
        
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="uplift-later">
            Yes, but I don't have it with me
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-3">
            <input id="radio-inline-3" type="radio" name="radio-inline-group" value="uplift-offline">
            No
          </label>
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>
    
  </form>
</div>

{% endblock %}