{% extends 'layouts/layout.html' %}

{% block pageTitle %}
NHS login prototypes
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-l">
      Paycasso SDK prototype
    </h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <p>Testing the <a href="https://paycasso.com/product/docusure/" target="_blank">Paycasso Docusure SDK</a> to capture images of the user's ID.</p>
    <p>This prototype is designed for a mobile screen size (i.e. less than 600 pixels wide).</p>

    <a href="/registration/app-start" class="nhsuk-button">Enter prototype</a>

    <h2 class="nhsuk-heading-m">More prototype links</h2>
    <ul>
      <li><a href="/registration/app">Registration - start as P5 app user</a></li>
      <li><a href="/registration/service-access-photo-id-type">Registration - start just before the SDK steps</a></li>
      <li><a href="/registration/sdk-errors/error-internet">SDK error - internet connection issue</a></li>
      <li><a href="/registration/sdk-errors/error-capture-timeout">SDK error - image capture timeout</a></li>
      <li><a href="/registration/sdk-errors/error-timeout">SDK error - general timeout</a></li>
      <li><a href="/registration/sdk-errors/error-general">SDK error - general issue</a></li>
      <li><a href="/registration/spinner">Loading spinner</a></li>
    </ul>

    <h2 class="nhsuk-heading-m">Useful links</h2>
    <ul>
      <li><a href="https://nhsd-confluence.digital.nhs.uk/display/NL/Paycasso+SDK" target="_blank">Project Confluence documentation</a></li>
    </ul>

    <p class="nhsuk-body-s">Prototype contact: <a href="mailto:alex.colbeck2@nhs.net" target="_blank">Alex Colbeck</a></p>

  </div>
</div>

{% endblock %}