{% extends 'layouts/layout.html' %}

{% block pageTitle %}
NHS login prototypes
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-l">
      NHS login prototype
    </h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <p>This is a prototype that combines the older <a href="http://nhs-login.herokuapp.com/" target="_blank">nhs-login</a> and <a href="http://nhs-cid.herokuapp.com/start" target="_blank">nhs-cid</a> prototypes and uses the latest <a href="https://service-manual.nhs.uk/design-system" target="_blank">NHS design system</a> components.</p>

    <p>Much of the complex routing and passing of data has been removed to simplify the code for future designers.</p>

    <p>The prototype currently illustrates the NHS App P5 registration journey and then the P9 uplift journey. However it could easily be modified to show other journeys.</p>

    <p>Bits missing or incomplete:</p>
    <ul>
      <li>International phone number entry</li>
      <li>New OTP page content</li>
      <li>Take an ID photo</li>
      <li>Upload an ID photo</li>
    </ul>

    <a href="/registration/app-start" class="nhsuk-button">Enter prototype</a>

  </div>
</div>

{% endblock %}