{% extends 'layouts/layout.html' %}

{% block pageTitle %}
NHS login prototypes
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-l">
      NHS login registration (Paycasso SDK prototype)
    </h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <p>Testing the Paycasso Docusure SDK to capture images of the user's ID.</p>
    <a href="/set-up/demo/enter-email?p5=true" class="nhsuk-button">Latest version</a>

  </div>
</div>

{% endblock %}