{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&system=" + system + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Enter your registration letter details</legend></h1>
        <div class="form-group">
          {% if system === 'tpp' %}
            <label class="form-label" for="field2">Account ID</label>
          {% endif %}

          {% if system === 'emis' %}
            <label class="form-label" for="field2">Account linkage key</label>
          {% endif %}
          <!--<span class="form-label__hint">This may also be Access Code</span>-->
          <input class="form-control" id="field2" name="field2" type="text">
        </div>
        <div class="form-group">
          {% if system === 'tpp' %}
            <label class="form-label" for="field1">Passphrase</label>
          {% endif %}
          
          {% if system === 'emis' %}
            <label class="form-label" for="field1">Account ID</label>
          {% endif %}
          <!--<span class="form-label__hint">This may also be Username</span>-->
          <input class="form-control" id="field1" name="field1" type="text">
        </div>
    </div>
    <div class="form-group">
      <a class="button" href="patient-online-linkage-key-loading{{ params }}" id="continue">Continue</a>
    </div>
    <p><a href="patient-online-gp-systems{{ params }}">I don't have those details, help me find them</a></p>
  </form>
</div>

{% endblock %}