{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}

{% set params = "?serviceName=" + serviceName + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Find your registration details on Evergreen</legend></h1>
        <p>Follow the steps below.</p>

        <ol>
          <li>Go to <a href="https://e-life.co.uk/Login" target="_blank">Evergreen</a> and log in</li>
          <li>Go to the Settings tab and click on 'My GP'</li>
          <li>Click on 'More Information' next to 'My GP Services'</li>
          <li>The registration details are the three pieces of information at the bottom</li>
        </ol>

    </div>
    <!--
    <div class="form-group">
      <a href="patient-online-linkage-key{{ params }}" class="button" id="continue">Continue</a>
    </div>
    -->

  </form>
</div>

{% endblock %}