{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}

{% set params = "?serviceName=" + serviceName %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Find your online GP system</legend></h1>
        <p>We can find which system your GP uses</p>
        <div class="form-group">
          <label class="form-label" for="findGP">GP Postcode / GP Practice name</label>
          <input class="form-control" id="findGP" name="findGP" type="text">
        </div>
    </div>
    <div class="form-group">
      <a class="button" href="patient-online-gp-results{{ params }}" id="">Search</a>
    </div>
    <p><a href="patient-online-gp-systems{{ params }}">I know which system my GP uses, let me choose from a list</a></p>
  </form>
</div>

{% endblock %}